* {
  padding:0px;
  margin:0px;
  user-select:none;
  scroll-behavior:smooth;
}
*:focus {
  outline:none;
}
:root {
  --first-theme-color:#000000;
  --second-theme-color:#151324;
  --third-theme-color:#19182b;
  --third-hover-theme-color:#1a192e;
}
::-webkit-scrollbar {
  display:none;
}
::-webkit-scrollbar-track {
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.7;
}
a {
  text-decoration:none;
  color:white;
}
input::selection {
  background-color:transparent;
}
body {
  background:var(--first-theme-color);
  overflow-x:hidden;
}
.section-container {
  justify-content:center;
  display:flex;
  margin:auto;
}
.interval {
  background:var(--first-theme-color);
  width:97%;
  height:60px;
  justify-content:center;
  display:flex;
  margin:20px auto;
  border-radius:10px;
}
.section-intro-text-interval {
  background:var(--first-theme-color);
  width:97%;
  height:0px;
  justify-content:center;
  display:flex;
  margin:20px auto;
  border-radius:10px;
}
.section-intro-text {
  font-family:Aviny;
  font-size:44px;
  color:white;
  text-align:center;
}
.header {
  background:var(--second-theme-color);
  width:97%;
  height:60px;
  justify-content:center;
  display:flex;
  margin:20px auto;
  border-radius:10px;
}
.header-text {
  font-family:Aviny;
  font-size:30px;
  color:white;
  text-align:center;
  cursor:pointer;
  justify-content:center;
  display:flex;
  margin-top:-5px;
  transition:0.3s;
  cursor:pointer;
}
.header-text-box {
  background-color:rgba(255,255,255,0);
  width:80px;
  border-radius:10px;
  margin:10px 0px;
  backdrop-filter: blur(16px);
  transition:0.5s;
  cursor:pointer;
}
.header-text-box:hover {
  background-color:var(--third-theme-color);
}
.monitor {
  background:var(--second-theme-color);
  width:97%;
  height:505px;
  justify-content:center;
  display:flex;
  margin:20px auto;
  border-radius:10px;
}
.first-section {
  position:relative;
  overflow:hidden;
  background:var(--second-theme-color);
  width:22%;
  height:440px;
  justify-content:center;
  display:flex;
  flex-direction:column;
  margin:20px auto;
  border-radius:10px;
  transition:0.3s;
}
.first-section:hover {
  margin:15px auto;
}
.inner-first-section-first {
  background:var(--third-theme-color);
  width:80%;
  height:140px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  border-radius:10px 10px 0 0;
  transition:0.3s;
  cursor:pointer;
}
.inner-first-section-second {
  background:var(--third-theme-color);
  width:80%;
  height:60px;
  margin:-20px auto;
  transition:0.3s;
  cursor:pointer;
}
.inner-first-section-third {
  background:var(--third-theme-color);
  width:80%;
  height:180px;
  margin:30px auto;
  border-radius:0 0 10px 10px;
  transition:0.3s;
  cursor:pointer;
}
.inner-first-section-first-image {
  width:80px;
  height:80px;
  margin:32px auto;
}
.inner-first-section-first-title {
  font-family:Aviny;
  font-size:31px;
  color:white;
  text-align:center;
  margin:5px auto;
}
.inner-first-section-first-description {
  font-family:Vazir;
  font-size:15px;
  color:white;
  text-align:justify;
  direction:rtl;
  width:213px;
  margin:17px auto;
}
.second-section {
  background:var(--second-theme-color);
  width:30.4%;
  height:400px;
  flex-direction:column;
  margin:20px auto;
  border-radius:10px;
  transition:0.3s;
}
.second-section:hover {
  transform:scale(1.015);
}
.inner-second-section-first {
  background:var(--third-theme-color);
  width:85%;
  height:60px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  border-radius:10px 10px 0 0;
  transition:0.3s;
  cursor:pointer;
}
.inner-second-section-first:hover {
  background:var(--third-hover-theme-color);
}
.inner-second-section-second {
  background:var(--third-theme-color);
  width:85%;
  height:200px;
  justify-content:center;
  display:flex;
  margin:-20px auto;
  transition:0.3s;
  cursor:pointer;
}
.inner-second-section-second:hover {
  background:var(--third-hover-theme-color);
}
.inner-second-section-third {
  background:var(--third-theme-color);
  width:85%;
  height:60px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  border-radius:0 0 10px 10px;
  transition:0.3s;
  cursor:pointer;
}
.inner-second-section-third:hover {
  background:var(--third-hover-theme-color);
}
.inner-second-section-first-title {
  font-family:Aviny;
  font-size:36px;
  color:white;
  text-align:center;
  margin:-1px auto;
}
.inner-second-section-first-image {
  width:372px;
  height:209px;
  margin:-7px auto;
}
.inner-second-section-first-visit-button {
  font-family:Aviny;
  font-size:24px;
  color:white;
  text-align:center;
  margin:7px auto;
}
.third-section {
  background:var(--second-theme-color);
  width:97%;
  height:350px;
  justify-content:center;
  display:flex;
  margin:20px auto;
  border-radius:10px;
  transition:0.3s;
}
.inner-third-section-first {
  background:var(--third-theme-color);
  width:95.5%;
  height:290px;
  justify-content:center;
  display:flex;
  margin:30px 5px;
  border-radius:10px;
  transition:0.3s;
  cursor:pointer;
}
.inner-third-section-first-description {
  font-family:Vazir;
  font-size:16px;
  color:white;
  text-align:justify;
  padding:30px;
  direction:rtl;
  margin:1px auto;
}
.fourth-section {
  background:var(--second-theme-color);
  width:47%;
  height:350px;
  flex-direction:column;
  margin:20px auto;
  border-radius:10px;
  transition:0.3s;
}
.fourth-section:hover {
  transform:scale(1.015);
}
.inner-fourth-section-first {
  background:var(--third-theme-color);
  width:91%;
  height:290px;
  justify-content:center;
  display:flex;
  flex-direction:column;
  margin:30px auto;
  border-radius:10px;
  transition:0.3s;
  cursor:pointer;
}
.inner-fourth-section-first-title {
  font-family:Aviny;
  font-size:40px;
  color:white;
  text-align:center;
}
.inner-fourth-section-first-description {
  font-family:Vazir;
  font-size:16px;
  color:white;
  text-align:center;
}
.inner-fourth-section-second-title {
  font-family:Aviny;
  font-size:24px;
  color:white;
  text-align:center;
}
.fifth-section {
  background:var(--second-theme-color);
  width:22%;
  height:440px;
  justify-content:center;
  display:flex;
  flex-direction:column;
  margin:20px auto;
  border-radius:10px;
  transition:0.3s;
}
.fifth-section:hover {
  margin:15px auto;
}
.inner-fifth-section-first {
  background:var(--third-theme-color);
  width:80%;
  height:180px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  border-radius:10px 10px 0 0;
  transition:0.3s;
  cursor:pointer;
}
.inner-fifth-section-second {
  background:var(--third-theme-color);
  width:80%;
  height:60px;
  margin:-20px auto;
  transition:0.3s;
  cursor:pointer;
}
.inner-fifth-section-third {
  background:var(--third-theme-color);
  width:80%;
  height:180px;
  margin:30px auto;
  border-radius:0 0 10px 10px;
  transition:0.3s;
  cursor:pointer;
}
.inner-fifth-section-first-image {
  width:80px;
  height:80px;
  margin:32px auto;
}
.inner-fifth-section-first-title {
  font-family:Aviny;
  font-size:31px;
  color:white;
  text-align:center;
  margin:5px auto;
}
.inner-fifth-section-first-description {
  font-family:Vazir;
  font-size:15px;
  color:white;
  text-align:justify;
  direction:rtl;
  width:213px;
  margin:17px auto;
}
.footer {
  background:var(--second-theme-color);
  width:100%;
  height:380px;
  justify-content:center;
  display:flex;
  margin:0px;
  border-radius:0px;
  align-items:center;
  transition:0.3s;
}
@font-face {
    font-family:Aviny;
    src: url('../font/Aviny.ttf');
}
@font-face {
    font-family:Vazir;
    src: url('../font/Vazir.ttf');
}
@media screen and (max-width: 320px) {
  .header-text {
    font-size:28px;
  }
  .header-text-box {
    margin:10px 3px;
  }
  .monitor {
    height:400px;
  }
  .section-container {
    flex-wrap:wrap;
  }
  .first-section {
    flex: 0 0 calc(100% - 20px);
  }
  .second-section {
    flex: 0 0 calc(100% - 20px);
  }
  .third-section {
    flex: 0 0 calc(100% - 20px);
  }
  .fourth-section {
    flex: 0 0 calc(100% - 20px);
  }
  .fifth-section {
    flex: 0 0 calc(100% - 20px);
  }
}
@media screen and (min-width: 320px) and (max-width: 650px) {
  .header-text {
    font-size:28px;
  }
  .header-text-box {
    margin:10px 3px;
  }
  .monitor {
    height:400px;
  }
  .section-container {
    flex-wrap:wrap;
  }
  .first-section {
    flex: 0 0 calc(100% - 20px);
  }
  .second-section {
    flex: 0 0 calc(100% - 20px);
  }
  .third-section {
    flex: 0 0 calc(100% - 20px);
  }
  .fourth-section {
    flex: 0 0 calc(100% - 20px);
  }
  .fifth-section {
    flex: 0 0 calc(100% - 20px);
  }
}
@media screen and (min-width: 650px) and (max-width: 990px) {
  .header-text {
    font-size:28px;
  }
  .header-text-box {
    margin:10px 3px;
  }
  .monitor {
    height:400px;
  }
  .section-container {
    flex-wrap:wrap;
  }
  .first-section {
    flex: 0 0 calc(50% - 20px);
  }
  .second-section {
    flex: 0 0 calc(50% - 20px);
  }
  .third-section {
    flex: 0 0 calc(50% - 20px);
  }
  .fourth-section {
    flex: 0 0 calc(50% - 20px);
  }
  .fifth-section {
    flex: 0 0 calc(50% - 20px);
  }
}
@media screen and (min-width: 990px) and (max-width: 1360px) {
  .header-text {
    font-size:28px;
  }
  .header-text-box {
    margin:10px 3px;
  }
  .monitor {
    height:400px;
  }
  .section-container {
    flex-wrap:wrap;
  }
  .first-section {
    flex: 0 0 calc(33.33% - 20px);
  }
  .third-section {
    flex: 0 0 calc(33.33% - 20px);
  }
  .fifth-section {
    flex: 0 0 calc(33.33% - 20px);
  }
}
